    <footer class="footer" id="footer">
        <hr>
        <div class="copy-bg text-center">
            <p>Copyright © 2020. Todos los derechos reservados.</p>
            <p>
                <a href="/avisolegal">Aviso legal</a>
            </p>
            <br>
                <div class="d-flex justify-content-center"> 
                    <div class="col-8">
                        <p><small>Este es un sitio de acceso limitado.</small></p>
                    </div>
                </div>     
        </div>
    </footer>
    <div class="bottomtotop">
        <i class="fa fa-chevron-right"></i>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>