<head>
<meta charSet="utf-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>XXX</title>
<meta name="title" content="XXX">
<!-- recuperar url que esta usando la aplicación e indicar el canonical
<link rel="canonical" href="https://xx" />
-->
<meta name="robots" content="noindex,nofollow,notranslate"/>
<meta name="googlebot" content="noindex,nofollow,notranslate,noarchive"/>
<meta name="publisher" content="PRG2022"/>
<meta name="author" content="PRG2022"/>

<!-- indicar los iconos para webapp
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-xxx.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32-xxx.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16-xxx.png">
-->
<meta name="theme-color" content="#333333">
<meta name="msapplication-navbutton-color" content="#333333">
<meta name="apple-mobile-web-app-status-bar-style" content="#333333">

<link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
<script>if ('serviceWorker' in navigator) { window.addEventListener('load', () => { navigator.serviceWorker.register('/service-worker.js');});}</script>
<link rel="stylesheet" href="/css/bootstrap.min.css">

</head>